<!DOCTYPE html>
<html>
  <head>
    <title>Twins</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="col-5 links">
      <%= link_to 'Customers', new_customer_path %>>
      <br />
      <%= link_to 'Pets', new_pet_path %>>
    </div>
    <%= yield %>
  </body>
</html>
